{% extends "base.html" %}
{% block content %}
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Replicas</th>
    <th>Containers</th>
  </tr>
  {% for s in services %}
  <tr>
    <td>{{ s.id }}</td>
    <td>{{ s.name }}</td>
    <td>
        <form class="form form-horizontal" method="post" role="form" action="/services/{{ s.id }}">
                <input type="text" name="replicas" class="form-control input-number" value="{{ s.attrs['Spec']['Mode']['Replicated']['Replicas'] }}" min="1" max="100">       
                <input type="submit" class="btn btn-default"/>
        </form> 
    </td>
    <td><a href="/services/{{ s.id }}"> Containers</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

